[submodule "yandex-rl-tasks"]
	path = yandex-rl-tasks
	url = https://github.com/denklewer/yandex-rl-tasks
[submodule "mlcourse.ai"]
	path = mlcourse.ai
	url = https://github.com/denklewer/mlcourse.ai
[submodule "stepik-statistics"]
	path = stepik-statistics
	url = https://github.com/denklewer/stepik-statistics
[submodule "graz-social-network"]
	path = graz-social-network
	url = https://github.com/denklewer/graz-social-network
[submodule "ray-RLlib-tutorial"]
	path = ray-RLlib-tutorial
	url = https://github.com/denklewer/ray-RLlib-tutorial
[submodule "epam-java-examples"]
	path = epam-java-examples
	url = https://github.com/denklewer/epam-java-examples
[submodule "react-spring-example"]
	path = react-spring-example
	url = https://github.com/denklewer/react-spring-example
[submodule "epam-java-cources"]
	path = epam-java-cources
	url = https://github.com/denklewer/epam-java-cources
[submodule "elective"]
	path = elective
	url = https://github.com/denklewer/elective
